<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApp1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <WindowsFormsApp1.Properties.Settings>
            <setting name="License_Key" serializeAs="String">
                <value />
            </setting>
            <setting name="Phone_Ico_TopLeft" serializeAs="String">
                <value>226, 226, 226</value>
            </setting>
            <setting name="Daily_Workout_Menu" serializeAs="String">
                <value>224, 224, 224</value>
            </setting>
            <setting name="Survival_Index" serializeAs="String">
                <value>224, 224, 224</value>
            </setting>
            <setting name="Virtual_Universe_Button" serializeAs="String">
                <value>18, 18, 18</value>
            </setting>
            <setting name="Rule_i_Button" serializeAs="String">
                <value>WhiteSmoke</value>
            </setting>
            <setting name="Sepal_Gold_Button" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Sepal_Crimson_Button" serializeAs="String">
                <value>18, 18, 18</value>
            </setting>
            <setting name="Fights_Slider" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Fight_Group_Ico" serializeAs="String">
                <value>228, 202, 147</value>
            </setting>
            <setting name="Fight_Ended_Trigger" serializeAs="String">
                <value>WhiteSmoke</value>
            </setting>
        </WindowsFormsApp1.Properties.Settings>
    </userSettings>
</configuration>